
UniSa eVision prototipo.xcodeproj/project.xcworkspace/xcuserdata/techrufy.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
UniSa eVision prototipo.xcodeproj/xcuserdata/techrufy.xcuserdatad/xcschemes/xcschememanagement.plist
UniSa eVision prototipo.xcodeproj/project.pbxproj
